{% extends "common/master.html" %}

{% block body %}

{% include 'layouts/navbar.html' %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="profile-card text-center">
                <h2 class="mt-3">Add new Job</h2>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="contact_no">Job Title</label>
                        <input type="text" class="form-control" name="job_title" id="contact_no" required>
                    </div>
                    <label for="contact_no">Job Type</label>
                    <select id="employmentType" class="form-control" name="employmentType" required>
                        <option value="" selected disabled>Select Type</option>
                        <option value="full_time">Full-Time</option>
                        <option value="part_time">Part-Time</option>
                        <option value="contract">Contract</option>
                        <option value="internship">Internship</option>
                        <option value="temporary">Temporary</option>
                    </select>

                    <div class="form-group">
                        <label for="age">Job Description</label>
                        <textarea type="number" class="form-control" name="job_description" id="age"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="dob">Company Logo</label>
                        <input type="file" class="form-control" name="company_logo" id="dob" required>
                    </div>

                    <div class="form-group">
                        <label for="dob">Company Name</label>
                        <input type="text" class="form-control" name="company_name" id="dob" required>
                    </div>

                    
                    <div class="form-group">
                        <label for="dob">Job Location</label>
                        <input type="text" class="form-control" name="job_location" id="dob" required>
                    </div>

                    <div class="form-group">
                        <label for="dob">Salary</label>
                        <input type="text" class="form-control" name="salary" id="dob" required>
                    </div>

                    <div class="form-group">
                        <label for="dob">Qualifications</label>
                        <input type="text" class="form-control" name="qualifications" id="dob" required>
                    </div>

                    <div class="form-group">
                        <label for="dob">Application Deadline</label>
                        <input type="date" class="form-control" name="deadline" id="dob" required>
                    </div>


                    <button type="submit" class="btn btn-primary">Add Job</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% include 'layouts/footer.html' %}

{% endblock body %}