{% extends "common/master.html" %}

{% block body %}

{% include 'layouts/navbar.html' %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="profile-card text-center">
                <h2 class="mt-3">Edit Profile</h2>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="contact_no">Contact No</label>
                        <input type="text" class="form-control my-2" name="contact_no" id="contact_no" value="{{data.contact_no}}" required>
                        <input type="hidden" class="form-control" name="basic_info_id" value="{{data.id}}">
                    </div>

                    <div class="form-group">
                        <label for="age">Age</label>
                        <input type="number" class="form-control my-2" name="age" value="{{data.age}}" id="age" required>
                    </div>

                    <div class="form-group">
                        <label for="age">Present Address</label>
                        <input type="text" class="form-control my-2" name="present_address" value="{{data.present_address}}" id="age" required>
                    </div>
                    <div class="form-group">
                        <label for="age">Permanent Address</label>
                        <input type="text" class="form-control my-2" name="permanent_address" value="{{data.permanent_address}}" id="age" required>
                    </div>

                    
                    {% if user.user_type == "recruiter" %}
                    <div class="form-group">
                        <label for="age">Company Website</label>
                        <input type="url" class="form-control my-2" name="com_web" value="{{data.company_website}}" id="age">
                    </div>

                    <div class="form-group">
                        <label for="age">Linkedin URL</label>
                        <input type="url" class="form-control my-2" name="linkedin" value="{{data.linkedin}}" id="age">
                    </div>
                        
                    {% endif %}
                        
                    <div class="form-group">
                        <label for="dob">Date of Birth</label>
                        <input type="date" class="form-control my-2" name="dob" value="{{data.dob | date:'Y-m-d'}}" id="dob" required>
                    </div>

                    
                    {% if user.user_type == 'seeker' %}
                    <div class="form-group">
                        <label for="career_summary">Career Summary</label>
                        <textarea class="form-control my-2" name="career_summary" id="career_summary" rows="3" required>{{data.career_summary}}</textarea>
                    </div>
                        
                    {% endif %}


                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% include 'layouts/footer.html' %}

{% endblock body %}